<div class="row setup-content" id="step-2">
    <div class="col-xs-12">
        <div class="col-md-12">
            <h3> Step 2</h3>
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input maxlength="200" type="text" required="required" class="form-control" ng-model="data.companyName" name="companyName" placeholder="Enter Company Name" />
                <span style="color:red" ng-show="wizardForm.companyName.$dirty && wizardForm.companyName.$invalid">
                    <span ng-show="wizardForm.companyName.$error.required">companyName is required</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">Company Address</label>
                <input maxlength="200" type="text" required="required" class="form-control" ng-model="data.companyAddress" name="companyAddress" placeholder="Enter Company Address" />
                <span style="color:red" ng-show="wizardForm.companyAddress.$dirty && wizardForm.companyAddress.$invalid">
                    <span ng-show="wizardForm.companyAddress.$error.required">companyAddress is required</span>
                </span>
            </div>
            <a class="btn btn-primary nextBtn btn-lg pull-right" ui-sref="wizard.step3" ng-disabled="getDisabled('step2')" type="button">Next</a>
        </div>
    </div>
</div>